<table>
  <tbody>
    {{#each model as |campsite|}}
    <tr>
      <td><img src="http://reserveamerica.com{{campsite._sitePhoto}}"/></td>
      <td>{{campsite._Site}}</td>
      <td>{{campsite._sitesWithWaterfront}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>




  <!-- {{campsite._Maxeqplen}}
  {{campsite._Maxpeople}}
{{campsite._Loop}}
{{campsite._SiteId}}
  {{campsite._SiteId}}
  {{campsite._SiteReserveType}}
  {{campsite._SiteType}}
  {{campsite._mapx}}
  {{campsite._mapy}}

  {{campsite._sitesWithAmps}}
  {{campsite._sitesWithPetsAllowed}}
  {{campsite._sitesWithSewerHookup}}
  {{campsite._sitesWithWaterHookup}}
   -->
